#picture {
    height: calc(75px + 1em); /*The em should make it responsive to window resizing*/
    margin-bottom: 1em;
    padding: 1em;
    background: rgb(21, 79, 25);
    border-radius: 5px;
}

#picture img {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left; 
    width: 100%; 
    padding-left: 1em; 
}

p {
    font-size: 1.2em; 
    font-style: italic; 
    margin-top: 1em;
}

body {
    background-color: cadetblue;
}