body {
  background-color: rgb(221, 195, 213); 
  text-align: center; 
}

header {
  margin-bottom: 2em; 
}

main {
  margin: 0 auto; 
  width: 80%; 
  max-width: 600px; 
}

form {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  gap: 1em; 
}

button {
  margin: 0.5em; 
  padding: 0.5em 1em; 
  border: 2px solid transparent; 
  border-radius: 8px; 
  background-color: white; 
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: lightblue;
}
